body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    background-color: #fe90cd;
}
main {
    flex-grow: 1;
    
}
footer {
    background-color: #fe90cd;
}

#current-count {
    color: #fe90cd;
}
.click-upg-header {
    background-color: #c7f3d1;
}

.auto-upg-header {
    background-color: #c7f3d1;
}
.cost-text {
    color: #fe90cd;
}
.collected-text {
    color: #a1daae;
}
.no-select {
    user-select: none;
}
.mtn-pic:active{ 
    background: #f883c3; 
    box-shadow: 0 0 40px #f883c3; 
}

.but-glow:hover{
    background: #fe90cd;
    opacity: 0.5; 
    box-shadow: 0 0 100px #fe90cd; 
}
